img ,embed ,object ,video {
    max-width :100%;
}
#container {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

div.post {
    background-color: aquamarine;
    width: 100%;
    height:48vh;
    border: aqua solid 4px;
    margin:0.5em;
    position: relative;
    display: flex;
}
.meal-img {
    position: relative;
    width: 100%;
    height:30%;
    background-color: bisque;
    border :1px black;
}
/*div.meal-img {*/
/*    background-image: url("meal.jpg");*/
/*}*/
div.profile-img {
    background-image: url("../images/p.jpg");
}

.profile-img {
    position: relative;
    display:flex;
    background-color: crimson;
    border-radius: 50%;
    width: 30vw;
    height: 15vh;
    border : aliceblue solid 1px;
    top :-40%;
    left: 5%;
    object-position: center;
}
.post-btn {
    height: 3em;
    bottom: 20%;
    position: absolute;
    margin: 12%;
    height: 3em;
    bottom: 0;
    top: 70%;
    margin-left: 70%;

}
.user-title {
    position: relative;
    bottom: 100%;
    left: 40%;
}
.meal-img1 {
    width: 100%;
    height: 100%;

}
.meal-name {
    position: relative;
    bottom: 98%;
    left: 40%;
}
.date {
    position: absolute;
    bottom: 1%;
    left: 3%;
}
.hour {
    position: absolute;
    bottom: 10%;
    left: 3%;
}