<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >

<h:head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type=""></script>
    <link rel="stylesheet" href="css/posts-style.css" type="text/css"/>
    <title>Login</title>
</h:head>

<h:body>

    <section>
        <div class="container">
            <div class="row">

                <!--Profile Card 3-->
                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="images/meal1.jpg" alt="profile-sample1" class="background" />
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content row mx-0">
                            <div class="col">
                                <h2>Spaghetti <small>Justin Mccoy</small></h2>
                            </div>
                            <div class="col time-div">
                                <h6>20.02.2020</h6>
                                <h6> 18:00 Uhr</h6>
                            </div>
                            <div class="col">
                                <h:form>
                                    <h:commandButton action="PostHtml" value="Open"  class="btn btn-primary btn-lg">
                                    </h:commandButton>
                                </h:form>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="images/meal1.jpg" alt="profile-sample1" class="background" />
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content row mx-0">
                            <div class="col">
                                <h2>Spaghetti <small>Justin Mccoy</small></h2>
                            </div>
                            <div class="col time-div">
                                <h6>20.02.2020</h6>
                                <h6> 18:00 Uhr</h6>
                            </div>
                            <div class="col">
                                <h:form>
                                    <h:commandButton action="PostHtml" value="Open"  class="btn btn-primary btn-lg">
                                    </h:commandButton>
                                </h:form>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="images/meal1.jpg" alt="profile-sample1" class="background" />
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content row mx-0">
                            <div class="col">
                                <h2>Spaghetti <small>Justin Mccoy</small></h2>
                            </div>
                            <div class="col time-div">
                                <h6>20.02.2020</h6>
                                <h6> 18:00 Uhr</h6>
                            </div>
                            <div class="col">
                                <h:form>
                                    <h:commandButton action="PostHtml" value="Open"  class="btn btn-primary btn-lg">
                                    </h:commandButton>
                                </h:form>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="images/meal1.jpg" alt="profile-sample1" class="background" />
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content row mx-0">
                            <div class="col">
                                <h2>Spaghetti <small>Justin Mccoy</small></h2>
                            </div>
                            <div class="col time-div">
                                <h6>20.02.2020</h6>
                                <h6> 18:00 Uhr</h6>
                            </div>
                            <div class="col">
                                <h:form>
                                    <h:commandButton action="PostHtml" value="Open"  class="btn btn-primary btn-lg">
                                    </h:commandButton>
                                </h:form>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card profile-card-3">
                        <div class="background-block">
                            <img src="images/meal1.jpg" alt="profile-sample1" class="background" />
                        </div>
                        <div class="profile-thumb-block">
                            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                        </div>
                        <div class="card-content row mx-0">
                            <div class="col">
                                <h2>Spaghetti <small>Justin Mccoy</small></h2>
                            </div>
                            <div class="col time-div">
                                <h6>20.02.2020</h6>
                                <h6> 18:00 Uhr</h6>
                            </div>
                            <div class="col">
                                <h:form>
                                    <h:commandButton action="PostHtml" value="Open"  class="btn btn-primary btn-lg">
                                    </h:commandButton>
                                </h:form>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
</h:body>
</html>
