<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>NewEvent</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


        <script type="text/javascript">
            PrimeFaces.locales['de'] = {
                closeText: 'Schließen',
                prevText: 'Zurück',
                nextText: 'Weiter',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
                weekHeader: 'Woche',
                FirstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Nur Zeit',
                timeText: 'Zeit',
                hourText: 'Stunde',
                minuteText: 'Minute',
                secondText: 'Sekunde',
                currentText: 'Aktuelles Datum',
                ampm: false,
                month: 'Monat',
                week: 'Woche',
                day: 'Tag',
                allDayText: 'Ganzer Tag'
            };
            PrimeFaces.locales ['de'] = {
                closeText: 'Schließen',
                prevText: 'Zurück',
                nextText: 'Weiter',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember' ],
                monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez' ],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
                dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
                weekHeader: 'Woche',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix:'',
                timeOnlyTitle: 'Nur Zeit',
                timeText: 'Zeit',
                hourText: 'Stunde',
                minuteText: 'Minute',
                secondText: 'Sekunde',
                currentText: 'Aktuelles Datum',
                ampm: false,
                month: 'Monat',
                week: 'Woche',
                day: 'Tag',
                allDayText: 'Ganzer Tag'
            };




        </script>
        <link rel="stylesheet" href="css/newEvent.css"/>
    </h:head>
    <h:body style="background: #e2ffb8">

        <div class="container">
        <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
            <h5 class="card-title text-center" style="color: #288a2e">Zusammen kochen</h5>


                <h:form class="Formular-newEvent">
                    <div class="form-label-group">
                        <h:inputText id="dishName" class="form-control" value="#{eventController.eventModel.dishName}" placeholder="Das gibt's zum Essen:" />
                        <label for="dishName">Das gibt's zum Essen:</label>
                    </div>
                    <div class="form-label-group">
                        <label for="date">Am:</label>
                        <p:calendar id="date" value="#{eventController.eventModel.date}" locale="de" navigator="true" pattern="dd.MMMM.yyyy" style="border-radius: 2rem!important; line-height: 3rem;"/>
                    </div>
                    <div class="form-label-group">
                        <label for="time">Um:</label>
                        <p:calendar id="time" value="#{eventController.eventModel.time}" pattern="HH:mm" locale="de" timeOnly="true" style="border-radius: 2rem!important; line-height: 3rem;" />
                    </div>
                    <div class="form-label-group">
                        <h:inputText type="password" id="ingredients" class="form-control" placeholder="Das fällt noch:" value="#{eventController.ingridientModel.einkaufsliste}"/>
                        <label for="ingredients">Das fehlt noch:</label>
                    </div>
                    <hr/>
                    <div class="form-label-group">
                        <h:inputText type="password" id="comment" class="form-control" placeholder="Gib dein Senf..." value="#{eventController.eventModel.description}"/>
                        <label for="comment">Gib dein Senf...</label>
                    </div>
                    <hr class="my-4"/>

                    <div class="OK">

                        <h:commandButton class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                         value="Einladung schicken" ajax="false" icon="pi pi-check" action="start" style="background-color: #288a2e; color: #e2ffb8; border-color:  #288a2e; border-radius: 2rem">
                            <f:actionListener binding="#{eventController.createEvent}"/>
                        </h:commandButton>


                    </div>
                </h:form>
        </div>
        </div>
        </div>
        </div>
        </div>


    </h:body>

</html>
