<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type=""></script>
    <link rel="stylesheet" href="styleEvent1.css"/>
    <title>Login</title>
</h:head>

<h:body>
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://xmlns.jcp.org/jsf/html"
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          xmlns:f="http://xmlns.jcp.org/jsf/core"
          xmlns:p="http://primefaces.org/ui">


    <h:head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type=""></script>
        <link rel="stylesheet" href="styleEvent1.css"/>
        <title>Login</title>
    </h:head>

    <h:body>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-12 col-lg-10">
                    <div class="login d-flex align-items-center py-5 mx-auto">
                        <div class="container">
                            <div class="row">
                                <h3 class="login-heading mb-4"style="align-content: center">Willkommen in der Kochbarschaft!</h3>
                            </div>
                            <h:form>
                            <div class="row">

                                    <div class="col-md-12 col-lg-5 mx-auto">
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="name" class="form-control" placeholder="Name"  value="#{registerBB.userModel.userFirstName}"/>
                                            <label for="name">Name:</label>
                                        </div>
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="Nachname" class="form-control" placeholder="Familienname"  value="#{registerBB.userModel.userLastName}"/>
                                            <label for="name">Familiename:</label>
                                        </div>
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="Nicname" class="form-control" placeholder="Name"  value="#{registerBB.userModel.userNickName}"/>
                                            <label for="name">Nicname:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5 mx-auto">
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="name" class="form-control" placeholder="Name"  value="#{registerBB.userModel.userFirstName}"/>
                                            <label for="name">Name:</label>
                                        </div>
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="Nachname" class="form-control" placeholder="Familienname"  value="#{registerBB.userModel.userLastName}"/>
                                            <label for="name">Familiename:</label>
                                        </div>
                                        <div class="form-label-group">
                                            <h:inputText type="text" id="Nicname" class="form-control" placeholder="Name"  value="#{registerBB.userModel.userNickName}"/>
                                            <label for="name">Nicname:</label>
                                        </div>
                                    </div>
                            </div>
                                <div class="row">
                                    <h:commandButton class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                                     type="submit" value="Registrieren" action="login">
                                        <f:actionListener binding="#{registerBB.createUser()}"/>
                                    </h:commandButton>
                                </div>
                                </h:form>



                                        <div class="form-label-group">
                                            <h:inputText type="text" id="mail" class="form-control" placeholder="E-Mail"  value="#{registerBB.userModel.userEmail}"/>
                                            <label for="name">E-Mail:</label>
                                        </div>
                                        <div class="form-label-group">
                                            <h:inputText type="password" id="inputPassword" class="form-control" placeholder="Password" value="#{registerBB.userModel.userPassword}"/>
                                            <label for="inputPassword">Passwort</label>
                                        </div>




                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </h:body>
    </html>
