<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type=""></script>
    <link rel="stylesheet" href="styleEvent1.css"/>
    <title>Login</title>
</h:head>

<h:body style="background: #e2ffb8">

    <div class="container-fluid">

        <div class="row no-gutter">

            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

            <div class="col-md-8 col-lg-6 back">
                <div class="login d-flex align-items-center py-5 back" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="logos"> <img src="images/Logo_Kochbarschaft_neueVersion.png" alt="" width="100%"/> </div>
                                <h3 class="login-heading mb-4" style="color: #288a2e">Willkommen zurück!</h3>
                                <h:form>
                                    <div class="form-label-group">
                                        <h:inputText type="text" id="name" class="form-control" placeholder="Name"  value="#{login.username}"/>
                                        <label for="name">Name</label>
                                    </div>

                                    <div class="form-label-group">
                                        <h:inputSecret type="password" id="inputPassword" class="form-control" placeholder="Password" value="#{login.password}"/>
                                        <label for="inputPassword">Passwort</label>
                                    </div>

                                    <h:commandButton class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="Komm rein" action="#{login.loginControl()}"  style="background-color: #288a2e; color: #e2ffb8; border-color:  #288a2e"/>
                                    <div class="text-center">
                                        <a class="small" href="register.xhtml" style="color: #288a2e">Neu in der Nachbarschaft?</a></div>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</h:body>
</html>
