<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type=""></script>
    <link rel="stylesheet" href="css/newEvent.css"/>
    <title>NewEvent</title>
</h:head>
<h:body style="background: #e2ffb8">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center" style="color: #288a2e">Zusammen Kochen</h5>
                        <h:form >
                            <div class="form-label-group">

                                <span style="color: #288a2e;">Das gibt's zum Essen:</span>
                                <br/>
                                <br/>
                                <h:outputLabel style="color: #288a2e; font-family: 'Georgia Pro Cond Light'" value="#{eventController.readEventToShow(5).dishName}"/>
                            </div>

                            <div class="form-label-group">
                                <span style="color: #288a2e">Am:</span>
                                <br/>
                                <br/>
                                <h:outputLabel style="color: #288a2e; font-family: 'Georgia Pro Cond Light'" value="#{eventController.readEventToShow(5).date}"/>

                            </div>
                            <div class="form-label-group">
                                <span style="color: #288a2e">Um:</span>
                                <br/>
                                <br/>
                                <h:outputLabel style="color: #288a2e; font-family: 'Georgia Pro Cond Light'" value="#{eventController.readEventToShow(5).time}"/>
                            </div>

                            <hr/>
                            <h:outputLabel style="color: #288a2e">Das fehlt noch:</h:outputLabel>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <ui:repeat value="#{eventController.readEventToShow(5).ingredients}" var="ingedient">
                                        <input type="checkbox" class="form-check-input"/>
                                        <h:outputLabel style="color: #288a2e; font-family: 'Georgia Pro Cond Light'" value="#{ingedient.ingridientName}"/><br/>
                                    </ui:repeat>

                                </label>
                            </div>
                            <hr class="my-4"/>

                            <span style="color: #288a2e">Info:</span>
                            <br/>

                            <h:outputLabel style="color: #288a2e">
                                <br/>
                                <br/>
                                MusterStraße 35<br/>
                                21167 Hamburg
                            </h:outputLabel>


                            <hr class="my-4"/>

                            <h:commandButton class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                             type="submit" value="Ich bin dabei" action="start" style="background-color: #288a2e; color: #e2ffb8; border-color: #288a2e; border-radius: 2rem">

                            </h:commandButton>

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>