<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/posts-style.css" type="text/css"/>
    <title>zwischenProjekt_HostDinner</title>
</h:head>

<h:body>
    <div class="row col">
        <div class="row col-3" >

        </div>
        <!-- iiiii -->
        <h1  class="row col-3 " style="color: #ffffff;font-weight:bold; margin-top: 10px; font-size: 2em;">
            Willkommen! <h:outputText value="#{login.giveMeName(login.username).userNickName}"/>
        </h1>
        <h1 class="row col-3"    style="color:#288a2e; font-size: 2em ;margin-top: 0.5em; font-weight: bold">

        </h1>


        <h:form class="row col-3">
            <h:commandButton style="margin-bottom: 2em; margin-top: 1em" class="btn btn-primary btn-lg" action="eventNeu" value="Neues Kochevent">

            </h:commandButton>

        </h:form>
    </div>




        <div class="container">
            <div class="row">
                <ui:repeat value="#{eventController.readAllEvents()}" var="eventPosts">


                    <!--Profile Card 3-->
                    <div class="col-md-4" style="margin-bottom: 1em">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img src="images/meal1.jpg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image"
                                     class="profile"/>
                            </div>
                            <div class="card-content row mx-0">
                                <div class="col">
                                    <h:outputText value="#{eventPosts.dishName}"/>
                                </div>
                                <div class="col time-div">
                                    <h:outputText value="#{eventPosts.time}"/>
                                </div>
                                <div class="col">
                                    <h:outputText value="#{eventPosts.date}"/>
                                </div>
                                <div class="col">
                                    <h:form>
                                        <h:commandButton action="oneEvent" style="border-radius: 2rem " value="Öffnen" class="btn btn-primary btn-lg">
                                        </h:commandButton>
                                    </h:form>
                                </div>

                            </div>

                        </div>
                    </div>


                </ui:repeat>
            </div>
        </div>



</h:body>
</html>
