.Grid-Box-NewEvent{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
}
.Formular-newEvent{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 13% 13% 13% 41% 20%;
    grid-template-areas:
            "Gericht Zutaten"
            "Datum Zutaten"
            "Uhrzeit Zutaten"
            "Beschreibung Zutaten"
            "ok ok"

;

}
@media screen and (max-width: 1025px){
    .Formular-newEvent{
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 15% 30% 25%;
        grid-template-areas:
                "Gericht"
                "Datum"
                "Uhrzeit"
                "Beschreibung"
                "Zutaten"
                "ok"
    }

}
.Titel{
    background-color: cornflowerblue;


}
.Gericht{
    background-color: green;
    grid-area: Gericht;
    float: right;
}
.Datum{
    background-color: black;
    grid-area: Datum;
    float: right;
}
.Uhrzeit{
    background-color: red;
    grid-area: Uhrzeit;
    float: right;
}
.Beschreibung{
    background-color: yellow;
    grid-area: Beschreibung;
    float: right;
}
.Zutaten{
    background-color: darkorchid;
    grid-area: Zutaten;
    float: right;
}
.OK{
    background-color: darkslategrey;
    grid-area: ok;
    object-position: center;
}
